@import "../vendors/reset";
@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "typography";

html, body{
  height: 100%;
  width: 100%;
  background-color: #000;
}

.navigation {
  $large-screen: em(860) !default;
  $large-screen: $large-screen;

  // Mobile view
  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    padding-top: 0.5em;

    @include media ($large-screen) {
      display: none;
    }
  }

  // Nav menu
  .navigation-wrapper {
    @include clearfix;
    position: fixed;
    background-color: rgba(0,0,0,0);
    height: 100px;
    top: 0;
    z-index: 2;
    width: 100%;

  }

  .logo {
    float: left;
    color: white;

    img {
      max-height: 5em;
      padding: 1em 4em 0 2em;
    }
  }

  nav {
    float: none;

    @include media ($large-screen) {
      float: left;
      line-height: 65px;
      padding-top: 0.9em;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;

    @include media ($large-screen) {
      display: block;
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }
  }

  // Nav items
  ul li {
    display: block;
    text-align: right;
    width: 100%;


    @include media ($large-screen) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
    }
  }

  li a {
    display: inline-block;
    color: white;
    text-transform:uppercase;
    font-weight: 700;
    font-size: 1.2em;


    @include media ($large-screen) {
      padding-right: 1em;
    }
  }
}

.wrapper{
///  width: 100%;
//  min-height: 100%;

  .carousel{
    //max-height: 100%;
//    text-align: center;
    .item{
      text-align: center;
      padding-top: 100px;
      height: 100vh;
      img{
        height: calc(100vh - 100px);
        display: inline;
      }
    }
  }

  .container-long{
    width: 100%;
    padding-top: 100px;

    .photo{
      margin: 50px;
      text-align: center;

      .photo-title{
        color: white;
        text-align: right;
      }

      img{
        max-width: 100%;
        max-height: 700px;
      }
    }
  }

}
