@import "../vendors/normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "typography";

$large-screen: em(860) !default;
$large-screen: $large-screen;

html, body{
  height: 100%;
  width: 100%;
  background-color: #000;
}

a{
  text-decoration: none;
  color: white;

  &:hover, &:focus{
    color: white;
  }
}

.navigation {

  // Mobile view
  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0 2em 0 0;

    padding-top: 2em;

    @include media ($large-screen) {
      display: none;
    }
  }

  // Nav menu
  .navigation-wrapper {
    @include clearfix;
    position: fixed;
    background-color: rgba(0,0,0,0);
    top: 0;
    z-index: 2;
    width: 100%;

    .about-wrapper{
      width: 200px;
      float: left;

      .about{
        color: #CECECE;
        float: left;
        padding: 0 1em 0 2em;
        display: none;
        @include media($large-screen){
          display: block;
        }
      }

      .logo {
        float: left;
        color: white;

        img {
          max-height: 5em;
          padding: 1em 2em 0 2em;
        }
      }
    }
  }

  nav {
    float: none;

    @include media ($large-screen) {
      float: left;
      line-height: 65px;
      padding-top: 0.9em;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    background-color: black;

    @include media ($large-screen) {
      display: block;
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }
  }

  // Nav items
  ul li {
    display: block;
    text-align: right;
    width: 100%;
    padding-right: 2em;


    @include media ($large-screen) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
      padding-right: none;

    }
  }

  li a {
    display: inline-block;
    color: white;
    text-transform:uppercase;
    font-weight: 700;
    font-size: 1.2em;


    @include media ($large-screen) {
      padding-right: 1em;
    }
  }
}

.wrapper{
position: relative;

  .carousel{
    .item{
      text-align: center;
      padding-top: 100px;
      height: 100vh;

      img{
        width: 100%;
        position: absolute;
        transform: translate(0,-50%);
        top: 50%;

        @include media($large-screen){
          height: calc(100vh - 100px);
          display: inline;
        }
      }
    }
  }

  .controls{
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    color: white;
    cursor: pointer;
    font-size: 24px;
    .prev{
      position: absolute;
      left: 10px;
    }
    .next{
      position: absolute;
      right: 10px;
    }
  }

  .container-long{
    width: 100%;
    padding-top: 100px;

    .photo{
      margin: 50px;
      text-align: center;

      .photo-title{
        color: white;
        text-align: right;
      }

      img{
        max-width: 100%;
        max-height: 700px;
      }
    }
  }

  .contact-info{
    @include span-columns(10);
    @include shift(1);
    padding-top: 100px;


    color: #CECECE;

    @include media($large-screen){
      @include span-columns(6);
      @include shift(3);
      padding-top: 200px;
    }

    a{
      text-decoration: underline;
    }

  }

}
